<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resume001</title>
    <link rel="stylesheet" href="resume001.css">
</head>

<body>
    <div class="contact-container">
        <div class="name">John Doe</div>
        <div class="job-title">Software Engineer</div>
        <div class="contact-information">Texas, USA | +1 123-456 | example@email.com | github.com/johndoe</div>
    </div>
    <div class="category-container">
        <div class="category-title">Technical Skills</div>
        <div class="category-content">
            <div class="category-content-list">
                <ul>
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>CSS</li>
                    <li>HTML</li>
                    <li>SQL</li>
                    <li>Linux</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="category-container">
        <div class="category-title">PROFESSIONAL EXPERIENCE AND PERSONAL PROJECTS</div>
        <div class="category-content">
        <div class="category-content-title">Acme Corp.</div>
            <div class="category-content-list">
                <ul>
                    <li>Developed and maintainded code</li>
                    <li>Designed and developed an API</li>
                    <li>Developed an Adapter</li>
                    <li>Scraped and parsed data</li>
                </ul>
            </div>
        </div>
        <div class="category-content-title">Deep Learning</div>
        <div class="category-content">
            <div class="category-content-list">
                <ul>
                    <li>Developed a neural network</li>
                    <li>Applied a DRL algorithm</li>
                    <li>Collected data</li>
                    <li>Analyzed the data</li>
                    <li>Data visualization</li>
                </ul>
            </div>
        </div>
        <div class="category-content-title">Personal Project</div>
        <div class="category-content">
            <div class="category-content-list">
                <ul>
                    <li>Web scraping</li>
                    <li>Implemented MongoDB</li>
                    <li>Deveoped React Front-end</li>
                    <li>Redis cache</li>
                    <li>Dockerized containers</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="category-container">
        <div class="category-title">EDUCATION</div>
        <div class="category-content">
            <div class="category-content-title">Bachelor of Science in Software Engineering</div>
            <div class="category-content-subtitle">School name, 2023</div>
            <div class="category-content-list">
                <ul>
                    <li>Senior theses completed with excellence.</li>
                </ul>
            </div>
            <div class="category-content-title">Exchange Student</div>
            <div class="category-content-subtitle">School name, 2023</div>
        </div>
    </div>
    <div class="category-container">
        <div class="category-title">LANGUAGES</div>
        <div class="category-content">
            <div class="category-content-list">
                <ul>
                    <li>English (Fluent)</li>
                    <li>Portuguese (Native)</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>